*.o
*.so
*.a
*.gch
*.pyc
*~
core
core.*
out
/bin
/lib
*.sublime*
*.tsv
*.png
*.avi
*.gif
*.mp4
*.ogg
*.pdf
*.eps
*.mov
*.mpg
*.fig
*.xyz
*.tga
*.ps
*.svg
LJatoms
LJatoms2D
LJatoms-pbc.tcl
hardspheres
hardspheres.tcl
hardspheres.msd
pyparm/examples/*.npz
pyparm/examples/*.tcl
*.orig
*.ipynb
.DS_Store
/doc
